body {
    background-color: #fff;
    position: relative;
    font-family: sans-serif;
	padding: 0;
	margin: 0;
    min-height: 100vh;
}

#canvas {
    display: block;
    margin: auto auto; max-width: 640px;
    width: 95%;
    max-height: 640px;
    height: 95%;
}

.frame {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 20px;

    width: 90%;
    max-width: 600px;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
    border-radius: 10px;
}

.input-container:not(:first-child) {
    margin-top: 10px;
}

.input-container {
    display: flex;
}

.input-container > label {
    user-select: none;
    flex: 1;
}

.input-container > input,select {
    flex: 2;
}

#input-frame-top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer {
    box-shadow: 0 -4px 3px 0 rgb(0 0 0 / 0.1);
    background-color: #fff;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
